/* -------------------------Feuille de styles relative au projet Gestion des Projets--------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------Les Grands Titres-------------------------- */
.box-right {
	min-height: 500px;
	width: 377px;
	height: 400px;
	margin-right: 78px;
}

.box-left {
	width: 954px;
	margin-left: 150px;
	height: 216;
}

/**************************** Login *******************************/
.label_name {
	line-height: 30px;
	text-align: right;
	width: 50%;
}

.session_ouverte {
	text-align: left;
	width: 280px;
	margin-left: -20px;
}

.action_login {
	text-align: center;
	width: 265px;
}

.session_ouverte .xteDetailLabel {
	font-size: 10px;
}

#page_login_center {
	width: 725px;
	margin-left: auto;
	margin-right: auto;
}

.login-left {
	float: left;
	margin-top: 100px;
	width: 160px;
}

.login-right {
	float: right;
	margin-top: 65px;
	width: 155px;
}

#logo-gmp {
	margin-bottom: 2px;
}

#panel-xtensus {
	width: 382px;
	margin-left: auto;
	margin-right: auto;
}

.xteDetailLabelOutputLogo {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin-left: 80px;
}
.xteDetailLabelOutputdemandeCompte_mdp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
textarea[type="textarea"],input[type="text"],input[type="password"],select
	{
	background-color: #FFFFFF;
	background-image:
		url("/Xte_GMP/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGDg!vflzf!!!5kAGqIF6Q__.jsf");
	border-color: #BED6F8;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	width: 135px;
}

/* ---------------------------Contenus------------------------------- */
/* --------------------------------------------------------- */
.xteSubmit {
	text-align: center;
	background-color: #FFFFFF;
	font-size: 16px;
}

.xtesecret {
	background-color: #FFFFFF;
	border-bottom: 1px dotted #009966;
	maxlength: 10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.xtetableformation {
	cellpadding: 0;
	cellspacing: 0;
	width: 708;
	height: 488;
	vertical-align: middle;
	border: 1px solid #000066;
	margin-left: 50px;
	margin-right: 50px;
}

.xteTableHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	background-color: #CCCCCC;
}

.xteTablebody {
	text-align: center;
	border-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.xteSelect {
	font-size: 11px;
	border: 1px solid #888888;
}

.xteTextarea {
	background-color: #FAFAFA;
	border: 2px solid #888888;
	font-size: 12px;
	color: red;
	margin-left: 30px;
	margin-right: 100px;
	width: 300px;
}

.xteInputText {
	background-color: #FFFFFF;
	border: 1px solid #888888;
	font-size: 12px;
	color: #CC0099;
	margin-left: 5px;
	margin-right: auto;
}

.xteLabel {
	text-align: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

/* ---------------------------Table-------------------------------- */
.xteTable {
	cellpadding: 1px;
	cellspacing: 1px;
	margin-right: 10px;
	margin-left: 20px;
	text-align: center;
	border: 1px solid #006633;
	width: 100%;
}

.xteOutputText {
	color: #354514;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	float: left;
	text-align: justify;
}

.xteLayoutSelect {
	align: center;
	color: #FF0000;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

/* -----------------------------Tablaux Toolbars---------------------- */
.toolbar {
	width: 50px;
	height: 50px;
}

.xteToolbars {
	border-color: #990000;
	margin-left: auto;
	margin-right: 430px;
	table-layout: fixed;
}

.xteToolbars a {
	width: 36px;
	height: 36px;
}

.xteToolbars a: hover,active {
	width: 36px;
	height: 36px;
}

.xteToolbars td {
	text-decoration: none;
	width: 36px;
	height: 36px;
	margin-left: 15px;
	margin-right: auto;
}

.xteToolbars tr {
	text-decoration: none;
}

.xteToolbarsImage :hover {
	border: none;
	align: absmiddle;
	width: 36px;
	height: 36px;
}

/* -----------------------------Tablaux---------------------- */
#xteTable {
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cellpadding: 0;
	cellspacing: 0;
	width: 500;
	margin-bottom: 10px;
	vertical-align: super;
	white-space: nowrap;
}

/* ------------------------------Test des interfaces V0----------------------------- */
.nav .table {
	display: table;
}

.nav .select,.nav .current {
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
	color: #FFFFFF;
}

.nav .select li {
	margin: 0;
	/*width:180px;*/
	padding: 0 10px 0 10px;
	text-decoration: none;
	padding: 0 50px;
	height: 31px;
	float: left;
	background: url(images/menu-separation.gif) no-repeat scroll right
		center transparent;
	color: #FFFFFF;
	z-index: 1;
}

.nav .select a {
	text-decoration: none;
}

.nav li.last {
	background: none;
}

.nav .select a:hover .menu-left,.nav .select li:hover a .menu-left {
	background: url(images/left.gif) no-repeat left top;
	width: 11px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select a:hover .menu-mid,.nav .select li:hover a .menu-mid {
	background: url(images/bg.gif) repeat-x top left;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav .select a:hover .menu-right,.nav .select li:hover a .menu-right {
	background: url(images/right.gif) no-repeat top left;
	width: 11px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select  a .menu-right {
	width: 11px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select  a .menu-left {
	width: 11px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select a .menu-mid {
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav li.last {
	background: none;
}

.nav .select_sub {
	display: none;
}

.nav table {
	border-collapse: collapse;
	margin: -1px;
	font-size: 1em;
	width: 0;
	height: 0;
}

.nav .sub {
	display: table;
	list-style: none;
}

.nav .sub_active .current_sub a,.nav .sub_active a:hover {
	background: transparent;
	color: #FFFFFF;
}

.nav .select :hover .select_sub,.nav .current .show {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 12px;
	top: 35px;
	background: #89beff;
	padding: 0;
	z-index: 100;
	left: 0;
	text-align: center;
	color: #38659b;
	margin-top: -5px;
}

.nav .current .show {
	z-index: 10;
}

.nav .select .select_sub li {
	background: none;
	padding: 0 10px;
}

.nav .select :hover .sub li a,.nav .current .show .sub li a {
	display: block;
	float: left;
	background: transparent;
	padding: 0 10px 0 10px;
	margin: 0;
	white-space: nowrap;
	font-size: 12px;
	border: 0;
	color: #FFFFFF;
}

.nav .current .sub li.sub_show a {
	color: #38659b;
	cursor: default;
}

.nav .select .sub li a {
	font-weight: normal;
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select :hover .sub li a:hover,.nav .current .sub li a:hover {
	visibility: visible;
	color: #38659b;
	font-size: 12px;
}

.nav .select,.nav .current {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
}

/* ------------------------------DIV----------------------------- */
#corpsGauche {
	float: left;
	width: 800px;
	margin-right: 10px;
	height: auto;
}

#inter {
	width: 20px;
	height: auto;
}

#corpsDroite {
	float: right;
	width: 180px;
	height: auto;
}

#page {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
}

#contenu {
	width: 1000px;
	margin-top: auto;
	margin-bottom: auto;
	min-height: 300px;
}

body {
	background-color: #5D7343;
	overflow: auto;
	width: 100%;
	margin: 0;
}

#page_login {
	margin-left: auto;
	margin-right: auto;
	/*width: 1000px;*/
	height: auto;
}

#contenu_login {
	margin: auto;
	width: 382px;
}

#header_login {
	background-image: url("../login/bg-header.png");
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	width: 741px;
}

#header_entreprise {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

#page_login .rich-panel-header {
	background-image: url(../login/bg-top-login-box.png);
	background-color: #5D7343;
	border-color: #BED6F8;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
	padding: 0px;
	border: none;
	height: 30px;
}

#panel-footer {
	height: 11px;
	width: 382px;
	background-image: url(../login/bg-bottom-login-box.png);
}

#page_login .rich-panel {
	background-color: #EDEDED;
	border: none;
	padding: 0;
}

#arrierPlan {
	background-color: #F1F1F1;
	background-repeat: repeat-y;
}

button[type="button"],button[type="reset"],button[type="submit"],input[type="reset"],input[type="submit"],input[type="button"]
	{
	background-image: url('../login/bouton.png');
	width: 111px;
	background-repeat: repeat-x;
	font-size: 11px;
	color: #FFFFFF;
	border-color: #FFFFFF;
	font-weight: bold;
	border: none;
	background-color: #EDEDED;
	margin-top: 8px;
	height: 35px;
	margin-right: 9px;
	padding-bottom: 10px;
}

.authentification {
	font-family: Arial, Helvetica, san-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

#loginForm {
	margin: 0;
}



/********************************************************************************/
/*Error message text*/
.error {
	font-size: 11px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*Verfication*/
.OK {
	font-size: 11px;
	color: green;
	font-weight: bold;
}

.acompleter {
	font-size: 11px;
	color: red;
	font-weight: bold;
}

/*For text in popup information message*/
.xtePopupInformationTextHeader {
	font-size: 15px;
	color: #008080;
	padding: 2px;
	background-position: top left;
	background-repeat: repeat-x;
}

.xtePopupInformationText {
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: center;
	font-size: 15px;
}

/* ------------------------------Interfaces----------------------------- */
#banner {
	background-image: url(image/soft-name-test.gif);
	width: 100%;
}

.banner-compte-user-name {
	width: 100px;
	height: 39px;
	text-align: left;
	color: #698ebd;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.banner-soft-name {
	
}

.banner-soft-middle {
	width: 291px;
}

.banner-software-second-name {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.banner-compte {
	width: 237;
	height: 39px;
}

.user-image {
	mrgin-top: 1px;
}

.banner-compte-table {
	width: 237;
	height: 37px;
	align: right;
	border-color: #43699A;
	border-width: 1;
	border-style: solid;
	margin-right: 45px;
	margin-top: 15px;
	float: right;
}

.banner-compte-user {
	width: 18px;
	height: 37px;
}

.banner-compte-separator {
	width: 6px;
	height: 20px;
}

.banner-compte-deconnect {
	width: 20px;
	height: 20px;
}

#footer {
	background-image: url(images/bg-footer.gif);
	font-size: 14px;
	height: 46px;
	width: 1000px;
	text-align: right;
	clear: both;
}

.footer-copyright {
	text-align: right;
	color: #FFFFFF;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
	margin-right: 15px;
	text-decoration: underline;
}

#footer-copyright-text {
	text-align: right;
	color: #79A0CE;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
}

/*.............. Positionnement ...................*/
.xteheader {
	width: 1000px;
	height: 120px;
	align: center;
}

.xtebanner {
	width: 700px;
}

.xteuser {
	width: 300px;
}

.xtebody {
	width: 700;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.xtefooter {
	width: 50px;
	height: 45px;
	background-image: url(images/bg-footer.gif);
	text-align: right;
}

.xteimage {
	width: 280px;
	height: 401px;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

.xtechoix {
	color: #CC0066;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.xtechechbox {
	background-color: #996666;
	border-bottom: 1px dashed #3333FF;
}

.xteradiobox {
	background-color: #006600;
	border-bottom: 2px thick #009933;
}

.xtetab {
	cellpadding: 0;
	cellspacing: 0;
	border-bottom-style: none;
	border-width: thin;
	width: 708;
	height: 488;
}

/*.............. style standard ...................*/
#Template {
	width: 1000px;
	height: 700px;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 1000px;
	height: 130px;
	align: center;
	background-image: url(images/logo.gif);
}

#logo {
	float: left;
	height: 60px;
	width: 50px;
	background-image: url(images/soft-name-test.gif);
}

#menu {
	width: 50px;
	height: 55px;
}

.nav {
	background: #fff url(images/bg-menu.gif) repeat-x;
	height: 55px;
	width: 50;
	/*float: left;*/
	position: relative;
	font-family: arial, verdana, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
}

#footer {
	background-image: url(images/bg-footer.gif);
	height: 46px;
	width: 1000px;
	text-align: right;
}

.widgets {
	float: left;
	width: 217;
	margin: 0;
	background-attachment: fixed;
	background-position: top;
	padding-left: 10px;
}

.table {
	cellpadding: 2;
	cellspacing: 2;
	width: 500px;
	height: 200px;
	margin-left: 30px;
	margin-right: 10px;
}

.xteLayoutTitle {
	font-family: Verdana, Helvetica, Helv;
	font-size: 18px;
	background-color: #FF0000;
	line-height: 40px;
	text-align: center;
}

#logo {
	width: 50px;
	float: left;
}

#menu {
	width: 50px;
	height: 55px;
}

#formulaire {
	width: 700px;
	float: left;
	border: 1px solid #CCCCCC;
	text-align: center;
}

/*Form header text*/
.pageTitle {
	font-size: 12px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #BED6F8;
	text-align: center;
}

/********Calandrier***********************/
.monthenc {
	font-size: 12px;
	color: #ffe;
	background-color: #335c91;
	text-align: center;
}

.a, a:visited, a:hover {
    color: #C29632;
    font-size: 12px;
    font-family: Arial,Verdana,sans-serif;
}

.dayenc,.dayenc a:link,.dayenc a:visited {
	text-align: center;
	color: #335c91;
	font-size: 16px;
	background-color: #fff;
	text-decoration: none;
}

.dateenc,.dateenc a:link,.dateenc a:visited {
	text-decoration: none;
	line-height: 0.7;
	font-size: 45px;
	background-color: #fff;
	color: #335c91;
	text-align: center;
}

.datebx {
	line-height: 0.8;
	padding: 2px;
	background-color: #fff;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
}

.yearenc {
	font-size: 12px;
	color: #ffe;
	background-color: #335c91;
	text-align: center;
}

/*Table with box border*/
#xteTable {
	border: 1px solid #BED6F8;
	background-image: url('../images/ge.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-collapse: collapse;
	width: 100%;
}

#xteTableAccordion {
	width: 100%;
}

/*form label*/
.xteDetailLabel {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.xteDetailLabelcombox {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 118px;
}

.xteDetailLabelTextArea {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 118px;
}

.xteDetailLabelOutput {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.xteEnregistrementLabelOutput {
	font-family: Calibri;
}

xteDetailLabelOutputLogo
.xteNombreEnregistrementLabelOutput {
	font-family: Calibri;
	color: blue;
}

.xtePanelGrid {
	width: 100%;
}

.xteDataTableColumn {
	text-align: center;
}

/*********************** rich composant*********************/
.rich-panel {
	width: 100%;
}

.rich-datatable {
	width: 100%;
}

.rich-toolbar-item {
	background: none repeat scroll 0 0 #335C91;
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 10px;
	white-space: nowrap;
}

.rich-panel-body {
	padding: 0px;
}

element.style {
	background: none repeat scroll 0 0 #335C91;
	width: 100%;
}

.rich-stglpanel-header {
	background-color: #BED6F8;
	border-color: #BED6F8;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
}

.rich-panel-header {
	background-color: #BED6F8;
	border-color: #BED6F8;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
	padding: 0px;
}

.rich-filter-input {
	width: 50%;
}

/********************Message d'erreur*****************/
/*Error message text*/
.error {
	font-size: 11px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.msgError {
	color: #ff0000;
	background-color: #ffEEEE;
	/*border: 1px solid #ff0000;*/
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}